#center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#reagent1 {
  background-color: red;
  width: 50;
  height: 100;
}

#reagent2 {
  background-color: blue;
  width: 100;
  height: 50;
}

#arrowBox {
  flex-direction: column;
}

#arrow {
  background-color: green;
  height: 20;
  margin: auto;
}

#hoverArrow {
  background-color: lightgreen;
  margin: auto;
  text-align: center;
}

#underArrow {
  background-color: darkgreen;
  text-align: center;
  margin: auto;
}

#product1 {
  background-color: red;
  width: 50;
  height: 100;
}

#product2 {
  background-color: blue;
  width: 100;
  height: 50;
}

.reaction-arrow:after {
  content: '';
  position: absolute;
  right: -2px;
  top: -6px;
  border-top: 5px solid transparent;
  border-left: 10px solid black;
  border-bottom: 5px solid transparent;
}
.reaction-arrow {
  top: 50%;
  position: relative;
  border-top: 2px solid black;
  width: 100%;
}

.reaction-cross {
  background-color: black;
  -webkit-print-color-adjust: exact;
  height: 2px;
  width: 2px;
  box-shadow: 2px 0 0 black, 4px 0 0 black, -2px 0 0 black, -4px 0 0 black,
    0 2px 0 black, 0 4px 0 black, 0 -2px 0 black, 0 -4px 0 black;
  margin: 4px;
}
